<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Auditoria", "Index", "auditoria")</li>
                    <li>@Html.ActionLink("Control de permisos", "Index", "boletaPermiso")</li>
                    <li>@Html.ActionLink("Control de Ausencias", "Index", "boletaAusencias")</li>
                    <li>@Html.ActionLink("Control de retiros", "Index", "boletaRetiro")</li>
                    <li>@Html.ActionLink("Departamentos", "Index", "departamento")</li>
                    <li>@Html.ActionLink("Mantenimiento de estudiantes", "Index", "estudiantes")</li>
                    <li>@Html.ActionLink("Historial", "Index", "historial")</li>
                    <li>@Html.ActionLink("Institución", "Index", "institucion")</li>
                    <li>@Html.ActionLink("Mantenimiento de padres", "Index", "padres")</li>
                    <li>@Html.ActionLink("Autorización de permisos", "Index", "permisoComprobante")</li>
                    <li>@Html.ActionLink("Mantenimiento de usuarios", "Index", "usuario")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
