@model controlAdministrativo.Models.permisoComprobante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>permisoComprobante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.presentaComprabante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presentaComprabante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.multaSalario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.multaSalario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoComprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoComprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otroComprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otroComprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprobadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprobadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firmadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boletaPermiso.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boletaPermiso.departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
